form(action="/productos" method="post")
    div(class="container mt-5")
        div(class="container mb-4 text-center")
            h4 Nuevo Producto   
        input(class="form-control form-control-sm mb-2" type="text" placeholder="Title" aria-label=".form-control-lg example" name="title" id="title")
        input(class="form-control form-control-sm mb-2" type="text" placeholder="Price" aria-label=".form-control-lg example" name="price" id="price")
        input(class="form-control form-control-sm mb-2" type="text" placeholder="www.imagenweb.com.ar" aria-label=".form-control-lg example" name="thumbnail" id="thumbnail")
        div(class="d-grid gap-2")
            button(class="form-control btn btn-outline-dark mb-2" type="submit") Guardar