nav(class="navbar navbar-expand-lg navbar-light bg-light")
  div(class="container-fluid d-flex justify-content-end")
    //- a(href="/"><button >Inicio</button>)
    //- a(href="/productos"><button type="button" class="btn btn-outline-dark m-2">Productos</button>)
    a(href="/").button(type="button" class="btn btn-outline-dark m-2") Inicio  
    a(href="/productos").button(type="button" class="btn btn-outline-dark m-2") Productos  
